@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: black;
}


  @media (min-width: 500px) {
  
    body::-webkit-scrollbar {
      width: 1px;
      height: 1px;
      
    }
    
    body::-webkit-scrollbar-track {
      background: transparent;
      margin-top:10px;
    }
    
    body::-webkit-scrollbar-thumb {
      background: #bab9b9;
      border-radius: 10px;
  
    }
    
    body::-webkit-scrollbar-thumb:hover {
      background: #999999;
      cursor:pointer;
    }
    
    body::-webkit-scrollbar-thumb:vertical:active {
      background-color: #757373;
    }
    
  }